* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
/* <!-- nav section --> */
.head-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem 0;

  .title {
    a {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0%;
      color: black;
      transition: 0.5s;

      &:hover {
        transform: rotate(-20deg);
      }
    }
  }

  .menu {
    display: flex;
    gap: 4rem;
    a {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;

      &:hover {
        color: #eb5757;
      }
    }
  }
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(imgs/hero-pic.jpg);
  width: 100vw;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
  }
  .btns {
    display: flex;
    gap: 1rem;

    .red-btn {
      background: #eb5757;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 1px;
      text-align: center;
      padding: 1rem 3rem;
      border: none;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        opacity: 0.9;
      }
    }
    .white-btn {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 1px;
      text-align: center;
      padding: 1rem 3rem;
      border: none;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        opacity: 0.9;
      }
    }
  }
}

.mid-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eb5757;
  padding: 2rem 0;

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 40vw;
  }
}
/* <!-- artist section --> */
#singers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .dash {
    border: 1px solid #eb5757;
    height: 0.2vh;
    width: 1vw;
    background: #eb5757;
    margin-bottom: 1rem;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 30vw;
  }
}

#singer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  align-items: center;
  text-align: center;
  padding-bottom: 5rem;

  .card {
    background: white;
    width: 20vw;
    padding: 2rem;
    text-align: center;

    img {
      width: 10vw;
      height: 20vh;
      border-radius: 50%;
      object-fit: cover;
      transition: 0.5s;
      &:hover {
        scale: 1.1;
      }
    }

    h4 {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      max-width: 10vw;
      padding-left: 8rem;
    }
  }
}
/* <!-- gallery section --> */
.section-bg {
  background: #eb57571a;
  padding: 4rem;

  #gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
    }
    .dash {
      border: 1px solid #eb5757;
      height: 0.2vh;
      width: 1vw;
      background: #eb5757;
      margin-bottom: 1rem;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      max-width: 35vw;
      padding-bottom: 3rem;
    }
  }
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .gallery-img {
    flex-basis: calc((100% - 4rem) / 5);
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;

      &:hover {
        scale: 1.05;
      }
    }
  }
}
/* <!-- ticket section --> */
#ticket-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: black;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  .dash {
    border: 1px solid #eb5757;
    height: 0.2vh;
    width: 1vw;
    background: #eb5757;
    margin-bottom: 1rem;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 40vw;
  }
}

.ticket-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;

  .tickets {
    border: 1px solid #0000001a;
    box-shadow: 0px 0px 40px 0px #0000000d;
    padding: 2rem;

    h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: black;
      line-height: 100%;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      padding: 1rem 0;
    }
    .line {
      border: 1px solid #0000001a;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: black;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      max-width: 15vw;
      padding: 1rem 0;
    }
    .pricelist {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
    }
    .price {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: black;
      line-height: 100%;
      letter-spacing: 2px;
      text-align: center;
    }
    .eur {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 26px;
      color: #eb5757;
      line-height: 100%;
      letter-spacing: 2px;
      text-align: center;
    }
  }
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  text-decoration: none;

  button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    background: #eb5757;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  }
}
/* <!-- location section --> */
#location-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: black;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .dash {
    border: 1px solid #eb5757;
    height: 0.2vh;
    width: 1vw;
    background: #eb5757;
    margin-bottom: 1rem;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 40vw;
    padding-bottom: 1rem;
  }
}
.google-map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  iframe {
    width: 70vw;
    height: 50vh;
  }
}
/* <!-- contact section --> */
#contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: black;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .dash {
    border: 1px solid #eb5757;
    height: 0.2vh;
    width: 1vw;
    background: #eb5757;
    margin-bottom: 1rem;
  }
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background: white;

  label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  input {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
    border: 1px solid #0000001a;
    background: #ffffff;
    box-shadow: 0px 0px 40px 0px #0000000d;
  }
  input[type="button"] {
    background: #eb5757;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  }
}
/* <!-- footer section --> */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  background: #ffffff;
  box-shadow: 0px 0px 40px 0px #0000000d;

  span {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .footer-menu {
    display: flex;
    gap: 4rem;
    a {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;

      &:hover {
        color: #eb5757;
      }
    }
  }
}
